<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="PMQLCHDIENTHOAI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <connectionStrings>
      <add name="DefaultConnection" connectionString="Data Source=NGUYENNHIPUKA;Initial Catalog=DATABASE_DT;Integrated Security=True" />
      <add name="PMQLCHDIENTHOAI.Properties.Settings.DATABASE_DTConnectionString"
          connectionString="Data Source=NGUYENNHIPUKA;Initial Catalog=DATABASE_DT;Integrated Security=True"
          providerName="System.Data.SqlClient" />
  </connectionStrings>
  <userSettings>
    <PMQLCHDIENTHOAI.Properties.Settings>
        <setting name="sp_1" serializeAs="String">
            <value />
        </setting>
        <setting name="cnThemTaiKhoan" serializeAs="String">
            <value>1</value>
        </setting>
        <setting name="cnXoaTaiKhoan" serializeAs="String">
            <value>2</value>
        </setting>
        <setting name="cnPhanQuyen" serializeAs="String">
            <value>3</value>
        </setting>
        <setting name="cnReset" serializeAs="String">
            <value>4</value>
        </setting>
        <setting name="cnThemSuaXoaNhomQuyen" serializeAs="String">
            <value>5</value>
        </setting>
        <setting name="cnXemDSTaiKhoan" serializeAs="String">
            <value>6</value>
        </setting>
        <setting name="cnXemThongTinTaiKhoan" serializeAs="String">
            <value>7</value>
        </setting>
        <setting name="cnThemNV" serializeAs="String">
            <value>8</value>
        </setting>
        <setting name="cnXemDSNV" serializeAs="String">
            <value>9</value>
        </setting>
        <setting name="cnXemTTNV" serializeAs="String">
            <value>11</value>
        </setting>
        <setting name="cnCapNhatTTNV" serializeAs="String">
            <value>12</value>
        </setting>
        <setting name="cnTimNV" serializeAs="String">
            <value>13</value>
        </setting>
        <setting name="cnXoaNhanVien" serializeAs="String">
            <value>14</value>
        </setting>
        <setting name="cnThemCV" serializeAs="String">
            <value>15</value>
        </setting>
        <setting name="cnXemDSCV" serializeAs="String">
            <value>16</value>
        </setting>
        <setting name="cnXemTTCV" serializeAs="String">
            <value>17</value>
        </setting>
        <setting name="cnXoaCV" serializeAs="String">
            <value>19</value>
        </setting>
        <setting name="cnCapNhTTCV" serializeAs="String">
            <value>18</value>
        </setting>
        <setting name="cnXuatDSNV" serializeAs="String">
            <value>10</value>
        </setting>
        <setting name="cnDSNCC" serializeAs="String">
            <value>20</value>
        </setting>
        <setting name="cnXoaNCC" serializeAs="String">
            <value>21</value>
        </setting>
        <setting name="cnThemNCC" serializeAs="String">
            <value>22</value>
        </setting>
        <setting name="cnXemNCC" serializeAs="String">
            <value>23</value>
        </setting>
        <setting name="cnXuatNCC" serializeAs="String">
            <value>24</value>
        </setting>
        <setting name="cnCapNhatNCC" serializeAs="String">
            <value>25</value>
        </setting>
        <setting name="cnThemLoai" serializeAs="String">
            <value>26</value>
        </setting>
        <setting name="cnSuaLoai" serializeAs="String">
            <value>27</value>
        </setting>
        <setting name="cnXoaLoai" serializeAs="String">
            <value>28</value>
        </setting>
        <setting name="cnXemLoai" serializeAs="String">
            <value>29</value>
        </setting>
        <setting name="cnThemDVT" serializeAs="String">
            <value>30</value>
        </setting>
        <setting name="cnSuaDVT" serializeAs="String">
            <value>31</value>
        </setting>
        <setting name="cnXoaDVT" serializeAs="String">
            <value>32</value>
        </setting>
        <setting name="cnXemDVt" serializeAs="String">
            <value>33</value>
        </setting>
        <setting name="cnThemBank" serializeAs="String">
            <value>34</value>
        </setting>
        <setting name="cnSuaBank" serializeAs="String">
            <value>35</value>
        </setting>
        <setting name="cnXoaBank" serializeAs="String">
            <value>36</value>
        </setting>
        <setting name="cnXemBank" serializeAs="String">
            <value>37</value>
        </setting>
        <setting name="cnLapSold" serializeAs="String">
            <value>38</value>
        </setting>
        <setting name="cnCapNhatSold" serializeAs="String">
            <value>39</value>
        </setting>
        <setting name="cnXemDSSold" serializeAs="String">
            <value>40</value>
        </setting>
        <setting name="cnXemDetailSold" serializeAs="String">
            <value>41</value>
        </setting>
        <setting name="cnXuatSold" serializeAs="String">
            <value>42</value>
        </setting>
        <setting name="cnCapTTSold" serializeAs="String">
            <value>43</value>
        </setting>
        <setting name="cnLapChi" serializeAs="String">
            <value>44</value>
        </setting>
        <setting name="cnXemChi" serializeAs="String">
            <value>45</value>
        </setting>
        <setting name="cnLapBuy" serializeAs="String">
            <value>46</value>
        </setting>
        <setting name="cnCapNhatBuy" serializeAs="String">
            <value>47</value>
        </setting>
        <setting name="cnXemDSBuy" serializeAs="String">
            <value>48</value>
        </setting>
        <setting name="cnXemDetailBuy" serializeAs="String">
            <value>49</value>
        </setting>
        <setting name="cnXuatBuy" serializeAs="String">
            <value>50</value>
        </setting>
        <setting name="cnCapNhatTTBuy" serializeAs="String">
            <value>51</value>
        </setting>
        <setting name="cnLapBH" serializeAs="String">
            <value>52</value>
        </setting>
        <setting name="cnCapNhatBH" serializeAs="String">
            <value>53</value>
        </setting>
        <setting name="cnXemDSBH" serializeAs="String">
            <value>54</value>
        </setting>
        <setting name="cnXemDetailBH" serializeAs="String">
            <value>55</value>
        </setting>
        <setting name="cnXuatBH" serializeAs="String">
            <value>56</value>
        </setting>
        <setting name="cnLapSC" serializeAs="String">
            <value>57</value>
        </setting>
        <setting name="cnCapNhatSC" serializeAs="String">
            <value>58</value>
        </setting>
        <setting name="cnXemDSSC" serializeAs="String">
            <value>59</value>
        </setting>
        <setting name="cnXemSC" serializeAs="String">
            <value>60</value>
        </setting>
        <setting name="cnXuatSC" serializeAs="String">
            <value>61</value>
        </setting>
        <setting name="cnThemTB" serializeAs="String">
            <value>62</value>
        </setting>
        <setting name="cnCapNhatTB" serializeAs="String">
            <value>63</value>
        </setting>
        <setting name="cnXoaTB" serializeAs="String">
            <value>64</value>
        </setting>
        <setting name="cnCapNhatSLTB" serializeAs="String">
            <value>65</value>
        </setting>
        <setting name="cnLapBG" serializeAs="String">
            <value>66</value>
        </setting>
        <setting name="cnCapNhatTK" serializeAs="String">
            <value>67</value>
        </setting>
        <setting name="cnThemPTGH" serializeAs="String">
            <value>68</value>
        </setting>
        <setting name="cnCapNhatPTGH" serializeAs="String">
            <value>69</value>
        </setting>
        <setting name="cnXoaPTGH" serializeAs="String">
            <value>70</value>
        </setting>
        <setting name="cnLapPBH" serializeAs="String">
            <value>71</value>
        </setting>
        <setting name="cnXemDSPBH" serializeAs="String">
            <value>72</value>
        </setting>
        <setting name="cnXemPBH" serializeAs="String">
            <value>73</value>
        </setting>
        <setting name="cnThemKH" serializeAs="String">
            <value>74</value>
        </setting>
        <setting name="cnDSKH" serializeAs="String">
            <value>75</value>
        </setting>
        <setting name="cnTTKH" serializeAs="String">
            <value>76</value>
        </setting>
        <setting name="cnCapNhatKH" serializeAs="String">
            <value>77</value>
        </setting>
        <setting name="cnXoaKH" serializeAs="String">
            <value>78</value>
        </setting>
        <setting name="cnXuatKh" serializeAs="String">
            <value>79</value>
        </setting>
    </PMQLCHDIENTHOAI.Properties.Settings>
  </userSettings>
<startup useLegacyV2RuntimeActivationPolicy="True"><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/></startup></configuration>
